*{
   box-sizing: border-box;
}
.contenedor{
  max-width: 1170px;
  width: 100%;
  height:auto;
  display: block;
  margin: 0 auto;
  position: relative;
}
body{
  margin: 0;

}
header{
  background-color: #1b1b1b;
  color:white;
}
header i{
  cursor: pointer;
}
header .logo{
  display: contents;

}
.logo img{
  padding: 7px;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
header .row{
  align-items: center;

}
/*navegador*/
#menuToggle{
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}


#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}


#menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #1b1b1b;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu a{
  text-decoration: none;
  color:white;
}
#menu li{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul{
  transform: none;
}
/*navegador*/
.banner{
  background-color: white;

}
.banner img{
  margin: 0 auto;
}


.texto{
  margin-right: 50px;
  text-align: justify;
}
/*figuras del fondo*/
.cuarto-circulo {
  width: 50%;
  height: 87%;
  background:rgba(156,156,156,0.3);
  -moz-border-radius: 0 100% 0 0;
  -webkit-border-radius: 100% 0 0 0;
   border-radius: 100% 0 0 0;
  top: 0;
  position: absolute;
  right: 0;
}

.triangulo {
     width: 0;
     height: 0;
     border-left: 100px solid rgb(213, 0, 0,0.2);
     border-top: 50px solid transparent;
     border-bottom: 50px solid transparent;
     position: absolute;
     top: 30%;
}
/*figuras del fondo*/

.btn-cta{
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  margin-top: 20px;
  position: absolute;
  z-index: 2;
  font-weight: bold;
}

/*Flechas slider*/
.slider-principal .slick-prev {
    left: -5%;
    z-index: 1;
    width: 28px;
    height: 30px;
    bottom:0;
    background-image: url(../img/arrow-left.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    display: block !important;
    z-index: 0;
}
.slider-principal .slick-next::before{
  display: none;
}
.slider-principal .slick-prev::before{
  display: none;
}
.slider-principal .slick-next {
    right: -5%;
    z-index: 1;
    width: 28px;
    height: 30px;
    bottom:0;
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    display: block !important;
    z-index: 0;
}
/*Flechas slider*/
.categorias{
 text-align: center;
}
.categorias .col{
  padding-bottom: 20px;
}
.categorias h2{
  font-weight: lighter;
  text-decoration: underline;
  font-size: 3em;
  letter-spacing: 6px;
}
.categorias a{
  text-decoration: none;
  color:black;
}
.categorias a:hover{
  color:black;
}
.texto ul{
  list-style: none;
}
.texto ul li{
  display: flex;
}
.texto h3{
  font-weight: lighter;
}

.tiendas {
    background-color: rgba(0,0,0,0.5);
    background-image: url(../img/tiendas.jpg);
    height: 534px;
    max-width: 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    filter: brightness(0.4);
}
.slider-catalogo .item{
  text-align: center;
}
.slider-catalogo .item img{
  margin: 0 auto;
}
.slider-catalogo .slick-prev {
    left: -5%;
    z-index: 1;
    width: 28px;
    height: 30px;
    bottom:0;
    background-image: url(../img/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    display: block !important;
    z-index: 0;
}
.slider-catalogo .slick-next::before{
  display: none;
}
.slider-catalogo .slick-prev::before{
  display: none;
}
.slider-catalogo .slick-next {
    right: -5%;
    z-index: 1;
    width: 28px;
    height: 30px;
    bottom:0;
    background-image: url(../img/right-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    display: block !important;
    z-index: 0;
}
.ver-tiendas{
  background-color: #1b1b1b
}
.banner-solo .btn-tienda{
  position: absolute;
  background-color: white;
  color: black;
  border: 1px solid black;
  top: 53%;
  left: calc(100% - 59%);
  padding: 20px 30px;
  font-weight: bold;
  display: flex;
}
footer{
  background-color: #1b1b1b;
  padding-top: 50px;
}
.redes-sociales img{
  width: 3%;
}
.redes-sociales{
  text-align: center;
  padding-bottom: 20px;
}
.redes-sociales li{
  list-style: none;
  margin-right: 20px;
  display: inline;
}
.copyright{
  text-align: center;
}
.formulario label{
  display: block;
  padding-bottom: 20px;
  color:white;
}
label, input, textarea {
    display: block;

    outline: none;
}
input, textarea{
  border: 1px solid white;
  border-radius: 9px;
  background-color: #1b1b1b;
  color: white;
}
.formulario button{
  border: 1px solid black;
  background-color: white;
  padding: 10px 30px;
  font-weight: bold;
}
.banner-solo{
  padding-bottom: 20px;
}
@media (max-width: 1024px) {
  .banner img{
    width: 80%;
  }
  .banner-solo, .banner-solo img{
    width: 80%;
    margin: 0 auto;
  }
  .slider-catalogo .slick-next {
    right: 26%;
  }
  .slider-catalogo .slick-prev {
    left: 26%;
  }
  .slider-principal .slick-next {
    right: 7%;
  }
  .slider-principal .slick-prev {
    left: 7%;
  }
  .contenedor{
    overflow: hidden;
  }
  .logo img {
    padding: 7px 88px;
  }
  header .right{
    padding-right: 35px;
  }
  footer{
    padding: 50px;
  }
}
.categorias h2 {
    font-weight: lighter;
    text-decoration: underline;
    font-size: 5em;
    letter-spacing: 6px;
}

@media (max-width: 480px)  {
  .categorias h2 {
    font-size: 5em;
  }
  .banner-solo .btn-tienda{
    font-size: 5em;
  }
  .redes-sociales{
    padding-top: 20px;
  }
}
