<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>LADYBLACK</title>
  </head>
  <body>
    <!--aqui inicia el header -->
    <header>
      <div class="contenedor">
        <div class="row">
          <div class="col logo">
            <img src="img/logo.png" alt="logo">
          </div>
          <div class="col right">
            <i class="material-icons">shopping_cart</i>
            <i class="material-icons">search</i>
          </div>
        </div>
      </div>
    </header>
    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="#"><li>lorem ipsum</li></a>
          <a href="#"><li>lorem ipsum</li></a>
          <a href="#"><li>lorem ipsum</li></a>
          <a href="#"><li>lorem ipsum</li></a>
          <a href="#"><li>lorem ipsum</li></a>
          <a href="#"><li>lorem ipsum</li></a>
          <a href="#"><li>lorem ipsum</li></a>
          <a href="#"><li>lorem ipsum</li></a>
          <a href="#"><li>lorem ipsum</li></a>
          <a href="#"><li>lorem ipsum</li></a>
          <a href="#"><li>lorem ipsum</li></a>
          <a href="#"><li>lorem ipsum</li></a>
        </ul>
      </div>
    </nav>
    <!--aqui termina el header -->

    <!--aqui inicia el banner principal -->
    <section class="banner">
      <div class="contenedor">
        <!--Sliders del banner principal -->
        <div class="slider-principal">
          <div class="item"><img src="img/banner-1.jpg" alt=""> </div>
          <div class="item"><img src="img/banner-2.jpg" alt=""> </div>
          <div class="item"><img src="img/banner-3.jpg" alt=""> </div>
          <div class="item"><img src="img/banner-4.jpg" alt=""> </div>
        </div>
        <!--Sliders del banner principal -->
      </div>
    </section>
    <section class="categorias">
      <div class="contenedor">
        <div class="row">
          <div class="col">
            <img src="img/categoria-1.jpg" alt=""><a href="#"> <h2>Mujer</h2></a></div>

          <div class="col">
            <img src="img/categoria-2.jpg" alt=""><a href="#"> <h2>Hombre</h2></a></div>

          <div class="col">
            <img src="img/categoria-3.jpg" alt=""><a href="#"> <h2>Niños</h2></a></div>

        </div>
        <div class="banner-solo">

            <img src="img/banner-5.jpg" alt="">

        </div>
      </div>
    </section>
    <section class="catalogo-ofertas">
      <div class="contenedor">
        <div class="slider-catalogo">
          <div class="item">
            <img src="img/producto-1.jpg" alt="">
            <h3>lorem impsum</h3>
          </div>
          <div class="item">
            <img src="img/producto-2.jpg" alt="">
            <h3>lorem impsum</h3>
          </div>
          <div class="item">
            <img src="img/producto-3.jpg" alt="">
            <h3>lorem impsum</h3>
          </div>
          <div class="item">
            <img src="img/producto-4.jpg" alt="">
            <h3>lorem impsum</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="banner-solo">
      <div class="contenedor">
        <div class="tiendas"></div>
        <button type="button" name="button" class="btn-tienda">VER TIENDAS <i class="material-icons">arrow_right_alt</i></button>
      </div>
    </section>
    <footer>
      <div class="contenedor">
        <div class="row">
          <div class="col">
            <div class="ubicacion">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.7833615173167!2d-77.02960528578755!3d-12.058421445399118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8bc1ec6cd47%3A0x15240bc0d3d8de4!2sCentro%20Comercial%20%22Fronteras%20Unidas%20De%20Grau%22!5e0!3m2!1ses-419!2spe!4v1569231100225!5m2!1ses-419!2spe" width="400" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>

          </div>
          <div class="col formulario">
            <div id="app">
          	  <form @submit.prevent="enviarFormulario">
          	    <label>
          	      Nombres:
          	      <input v-model="formulario.nombre" type="text">
          	    </label>
          	    <label>
          	      Correo:
          	      <input v-model="formulario.correo" type="text">
          	    </label>
          	    <label>
          	      Mensaje:
          	      <textarea v-model="formulario.mensaje"></textarea>
          	    </label>
          	    <button role="submit" type="submit">
          	    Enviar
          	    </button>
          	  </form>
          	</div>
          </div>
        </div>
        <div class="redes-sociales">
          <ul>
            <li class="facebook "><a href="#"><img src="img/facebook-b.png" alt=""></a></li>
            <li class="twitter "><a href="#"><img src="img/twitter-b.png" alt=""></a></li>
            <li class="instagram "><a href="#"><img src="img/instagram-b.png" alt=""></a></li>
          </ul>
        </div>
        <div class="copyright">
          <img src="img/logo.png" alt="">
        </div>
      </div>
    </footer>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </body>
</html>
